<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ankime</title>
  </head>
  <body data-page="{{page}}">
    <nav>
      <ul>
        <li class="logo"><a href="/">Ankime</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/my-cards">My Cards</a></li>
        <li><a href="/user/logout">Logout</a></li>
        {{else}}
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
    <script type="module" src="/js/main.js"></script>
  </body>
</html>