<h1>Log In</h1>
<form id="login-form" action="/api/users/login" method="post">
  <input type="text" name="username" placeholder="username" autocomplete="false" required>
  <input type="password" name="password" placeholder="password" autocomplete="false" required>
  <button type="submit">Log In</button>
</form>
<div id="error-container"></div>

<script type="module" src="/js/pages/login.js"></script>