<div class="center-container">
<form method="post">
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">Log In</button>
  {{#if message}}<p>{{message}}</p>{{/if}}
</form>
</div>