<a href="/my-cards/review">Start Review</a>
<p>X Cards</p>

<a href="/my-cards/settings">Review Settings</a>

<!-- Should send to a url when the user presses enter -->
<form>
  <input type="text" name="title" placeholder="Search by Anime/Manga Title">
  <input type="text" name="vocab" placeholder="Search by Vocabulary">
</form>

<a href="/my-cards/upload">Upload Screenshot</a>