<a href="/my-cards/review">Start Review</a>

<form id="search-form">
  <input id="search-input" type="text" name="q" placeholder="Search by Title or Vocab">
  <button type="submit">Search</button>
</form>

<a href="/my-cards/upload">Upload Screenshot</a>

<div id="cards-container"></div>

<script type="module" src="/js/pages/myCards.js"></script>