<h1>Register</h1>
<form id="register-form" action="/api/users/register" method="post">
  <input type="text" name="username" placeholder="username" autocomplete="false" required>
  <input type="text" name="password" placeholder="password" autocomplete="false" required>
  <button type="submit">Register</button>
</form>
<div id="error-container"></div>

<script type="module" src="/js/pages/register.js"></script>