@import "tailwindcss";

@layer utilities {
  .fade-in {
    opacity: 0;
    transform: translateY(6px);
    animation: fadeIn 0.25s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}